[submodule "TwitchLib"]
	path = TwitchLib
	url = https://github.com/TwitchLib/TwitchLib.git
[submodule "TwitchLeecher"]
	path = TwitchLeecher
	url = https://github.com/Franiac/TwitchLeecher.git
[submodule "RechatTool"]
	path = RechatTool
	url = https://github.com/jdpurcell/RechatTool.git
[submodule "TwitchDownloader"]
	path = TwitchDownloader
	url = https://github.com/lay295/TwitchDownloader
